*{
    box-sizing: border-box;
}

.card-item{
    margin: 0 15px;
} 
.card-item img{
    width: 18rem;
    height: 390px;
} 
.card-wrapper{
    display: flex;
    position: absolute;
    transition: all 0.5 ease;
}
.card-slider{
    border: 10px whitesmoke solid;
    width: 908px;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    overflow: hidden;
}
.slider-buttons{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.slider-buttons i{
    font-size: 30px;
}

.prev:hover{
    transform: translateX(-40%); 
    color: darkgray;
}
.next:hover{
    transform: translateX(20%); 
    color: darkgray;
}
p{
    font-family: 'Syne Tactile', cursive;}